.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}
html{
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  grid-template-rows:10% 9% 21% auto  8%
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 21px;
}

/* Structure */
.logo {
  grid-column-start: 1;
  grid-column-end: 1;
}

/* Skinning */
.logo-skin {
  background-color: #fe0000;
}

/* Structure */
.header {
  grid-column-start: 2;
  grid-column-end:4;
}

/* Skinning */
.header-skin {
  background-color: #008001;
}

/* Structure */
.menu {
  grid-column-start: 1;
  grid-column-end:4;
}

/* Skinning */
.menu-skin {  
  background-color: #ffff00;
}

/* Structure */
.section {
  grid-gap: 0;
}

/* Skinning */
.section-skin-pink {  
  background-color: #cb99cc;
}
.section-skin-blue {
  background-color: #0000fe;
}
.section-skin-gray {
  background-color: #666666;
}

/* Structure */
.pagecontent {
  grid-column-start: 1;
  grid-column-end:3;
}

/* Skinning */
.pagecontent-skin {
  background-color: #00ff99;
}


/* Structure */
.sidebar {
  grid-column-start: 3;
  grid-column-end:4;
}

/* Skinning */
.sidebar-skin {
  background-color: #7f8000;
}

/* Structure */
.footer {
  grid-column-start: 1;
  grid-column-end:4;
}

/* Skinning */
.footer-skin {
  background-color: #3398cc;
}
